@import url('http://fonts.cdnfonts.com/css/highway-gothic');

footer {
  position: fixed;
  font-size: 1.5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#top-bar {
  padding: 0 !important;
}

#body {
  margin: 0;
  padding: 0;
}