@font-face {
    font-family: 'Highway Gothic Wide';
    font-style: normal;
    font-weight: 400;
    src: local('Highway Gothic Wide'), url('https://fonts.cdnfonts.com/s/8582/HWYGWDE.woff') format('woff');
}

* {
  font-family: 'Highway Gothic Wide', sans-serif;
}

#top-bar {
  padding: 1rem;
  padding-bottom: 0rem;
}

#mid-bar {
  padding: 1rem;
  padding-top: 0rem;
}

#body {
  margin: 0;
  padding: 0;
}

#block-container {
  width: 100%;
}

.progress-value {
  width: 99%;
}

.block {
  padding-top: 1rem;
  padding-bottom: 0;
}

#easter-egg {
  color: rgb(75,75,75);
  text-decoration: none;
}

#easter-egg:hover {
  cursor: initial;
}